.gallery__main {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 6;
  -webkit-column-gap: 0px;
  -moz-column-count: 6;
  -moz-column-gap: 0px;
  column-count: 6;
  column-gap: 0px;
}

.images__container {
  border: 5px solid transparent;
}
